.course{
    padding-top: 87px;
    background-color: #EEFEFF;
    padding-bottom: 190px;
    &__item-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 32px;
        background: rgba(41, 204, 214, 0.25);
    }
    &__item-time{
        align-items: center;
        display: flex;
    }
    .primary-color{
        color: $primary-color;
        margin-right: 4px;
    }
    .sc-color{
        color: $secondary-color;
    }
    &__item-time__text{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
    .section__heading{
        margin-bottom: 77px;
    }
    &__list{
        position: relative;
    }
    &__item-info{
        padding: 10px 32px;
        background-color: #fff;
    }
    &__item-type{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: $secondary-color;
        text-transform: uppercase;
        margin-top: 19px;
    }
    &__item-img img{
        width: 100%;
    }
    &__item-name{
        font-size: 24px;
        line-height: 28px;
        font-family: $crimson;
        color: $primary-color;
        margin-top: 8px;
        margin-bottom: 26px;
    }
    &__item-coach{
        display: flex;
        align-items: center;
        gap: 19px;
        margin-bottom: 20px;
    }
    &__item-coach p, &__item-desc{
        color: $primary-color;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }
    &__item-desc{
        margin-bottom: 10px;
    }
    &__item-rating{
        display: flex;
        margin-top: 10px;
        margin-bottom: 21px;
        justify-content: space-between;
    }
    &__item-rating-number{
        display: flex;
        gap: 9px;
        align-items: center;
    }
    &__item-rating__star{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &__item-price{
        font-weight: 600;
        font-size: 21px;
        line-height: 22px;
        color: $secondary-color;
        margin-bottom: 22px;
    }
    &__item-countdown{
        display: flex;
        gap: 5px;

    }
    &_item-countdown p{
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;

    }
    &__item-btn{
        margin-top: 22px;
        background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
        border-radius: 8px; 
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        text-transform: uppercase;
        color: #fff;
        padding: 7px 0;
        border: none;
        outline: none;
        display: block;
        text-align: center;
    }
    &__item-btn:hover{
        color: #fff;
    }
    .slick-track{
        display: flex;
        gap: 28px;
    }
    .slick-dots{
        display: flex;
        position: absolute;
        list-style: none;
        bottom: -100px;
        left: 50%;
        gap: 10px;
    }
    .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 100rem;
        outline: none;
        border: none;
        background: rgba(41, 204, 214, 0.25);
        transition: 0.4s ease-in-out;
    }
    .slick-active button{
        background-color:$primary-color;
        width: 10px;
        height: 10px;
    }
    .slick-slide{
        flex: 25%;
    }
    
}

@media screen and (max-width: 767.98px) {
    .course{
        &__list{
            margin: 0 auto;
        }
        .slick-track{
            margin: 0 auto;
        }
        .slick-dots{
            left: 50%;
            transform: translateX(-7%);
        }
    }
}
