.cta{
    padding-top: 87px;
    padding-bottom: 113px;
    background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    &-container{
        text-align: center;
    }
    &__heading{
        
        font-size: 44px;
        line-height: calc(56/44);
        color: #fff;
        font-family: $crimson;
    }
    &__text{
        font-size: 19px;
        opacity: 0.8;
        line-height: calc(30/19);
        margin: 18px 0 9px 0;
    }
    &__btn{
        border-radius: 8px;
        color: $primary-color;
        font-size: 12px;
        line-height: calc(15/12);
        padding: 13px 58px;
        position: relative;
        span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20%;
        }
        margin-top: 21px;
    }
    &__text{
        max-width: 1062.4px;
        margin: 0 auto;
        color: #fff;
        opacity: 0.8;
    }
}