.intro {
  position: relative;
  height: 440px;
}
.intro__img {
  height: 100%;
}
.intro__img img {
  height: 100%;
}
.intro__overlay {
  position: absolute;
  background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.intro__content {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 63px;
  transform: translateX(-50%);
  color: #fff;
  left: 50%;
}
.intro__heading {
  margin: 0 auto;
  max-width: 410px;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.1136363636;
  font-family: "Crimson Pro", serif;
  margin-bottom: 24px;
}
.intro__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  max-width: 534px;
  margin: 0 auto;
}
.intro__btn-wrap {
  display: flex;
  gap: 0 20px;
  margin-top: 30px;
  justify-content: center;
}
.intro__btn {
  padding: 11px 36px;
  outline: none;
  border: none;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 8px;
}
.intro__btn.btn1 {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.intro__btn.btn2 {
  background-color: #fff;
  color: #150099;
}

@media screen and (max-width: 767px) {
  .intro__heading {
    font-size: 30px;
  }
  .intro__text {
    font-size: 10px;
  }
  .intro__btn-wrap {
    gap: 0 10px;
  }
  .intro__btn {
    font-size: 10px;
  }
}
.banner {
  padding-top: 94px;
  padding-bottom: 94px;
}
.banner-container {
  display: flex;
  align-items: center;
  gap: 101px;
}
.banner__heading-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  margin-bottom: 87px;
}
.banner__heading-wrap h2:first-child {
  color: #150099;
}
.banner__heading-wrap h2 {
  max-width: 235px;
  font-weight: 400;
  font-family: "Crimson Pro", serif;
  color: #545454;
  position: relative;
}
.banner .line2 {
  position: absolute;
  top: 42px;
  height: 1px;
  width: 100%;
  max-width: 736px;
  background: #e5e5e5;
  transition: all 0.2s ease-in;
}
.banner .abs-line {
  position: absolute;
  height: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  left: 0;
  transition: all 0.2s ease-in;
  background: linear-gradient(90deg, #7DFFD3 0%, #150099 186.42%);
}
.banner__text {
  max-width: 739px;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.8947368421;
}
.banner__btn {
  border: none;
  outline: none;
  margin-top: 69px;
  font-size: 14px;
  background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
  border-radius: 8px;
  padding: 10px 80px;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 767.98px) {
  .banner-container {
    flex-direction: column;
  }
  .banner__btn {
    text-align: center;
    width: 100%;
  }
}
.course {
  padding-top: 87px;
  background-color: #EEFEFF;
  padding-bottom: 190px;
}
.course__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 32px;
  background: rgba(41, 204, 214, 0.25);
}
.course__item-time {
  align-items: center;
  display: flex;
}
.course .primary-color {
  color: #150099;
  margin-right: 4px;
}
.course .sc-color {
  color: #F27A54;
}
.course__item-time__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.course .section__heading {
  margin-bottom: 77px;
}
.course__list {
  position: relative;
}
.course__item-info {
  padding: 10px 32px;
  background-color: #fff;
}
.course__item-type {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #F27A54;
  text-transform: uppercase;
  margin-top: 19px;
}
.course__item-img img {
  width: 100%;
}
.course__item-name {
  font-size: 24px;
  line-height: 28px;
  font-family: "Crimson Pro", serif;
  color: #150099;
  margin-top: 8px;
  margin-bottom: 26px;
}
.course__item-coach {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 20px;
}
.course__item-coach p, .course__item-desc {
  color: #150099;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.course__item-desc {
  margin-bottom: 10px;
}
.course__item-rating {
  display: flex;
  margin-top: 10px;
  margin-bottom: 21px;
  justify-content: space-between;
}
.course__item-rating-number {
  display: flex;
  gap: 9px;
  align-items: center;
}
.course__item-rating__star {
  display: flex;
  gap: 10px;
  align-items: center;
}
.course__item-price {
  font-weight: 600;
  font-size: 21px;
  line-height: 22px;
  color: #F27A54;
  margin-bottom: 22px;
}
.course__item-countdown {
  display: flex;
  gap: 5px;
}
.course_item-countdown p {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.course__item-btn {
  margin-top: 22px;
  background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  padding: 7px 0;
  border: none;
  outline: none;
  display: block;
  text-align: center;
}
.course__item-btn:hover {
  color: #fff;
}
.course .slick-track {
  display: flex;
  gap: 28px;
}
.course .slick-dots {
  display: flex;
  position: absolute;
  list-style: none;
  bottom: -100px;
  left: 50%;
  gap: 10px;
}
.course .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  outline: none;
  border: none;
  background: rgba(41, 204, 214, 0.25);
  transition: 0.4s ease-in-out;
}
.course .slick-active button {
  background-color: #150099;
  width: 10px;
  height: 10px;
}
.course .slick-slide {
  flex: 25%;
}

@media screen and (max-width: 767.98px) {
  .course__list {
    margin: 0 auto;
  }
  .course .slick-track {
    margin: 0 auto;
  }
  .course .slick-dots {
    left: 50%;
    transform: translateX(-7%);
  }
}
.mentor {
  padding-top: 53px;
  padding-bottom: 113px;
}
.mentor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mentor__heading {
  font-weight: 400;
  text-align: left;
}
.mentor__desc {
  font-size: 19px;
  line-height: 200%;
  letter-spacing: 0.05em;
  margin-top: 87px;
  color: #545454;
  max-width: 630px;
}
.mentor__btn {
  background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
  border-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 78px;
  margin-top: 56px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 14px;
}
.mentor__card-list {
  display: flex;
  gap: 0 15px;
  position: relative;
}
.mentor__card-item {
  text-align: center;
  background: #EEFEFF;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 28px;
  flex: 50%;
}
.mentor__card-item__img {
  background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  display: inline-block;
  padding: 2px;
  margin-bottom: 34px;
  margin: 0;
}
.mentor__card-item__level {
  font-weight: 700;
  font-size: 12px;
  margin-top: 32px;
  color: #150099;
  text-transform: uppercase;
}
.mentor__card-item__name {
  font-size: 24px;
  margin-top: 4px;
  font-family: "Crimson Pro", serif;
  line-height: 1.1666666667;
  color: #545454;
}
.mentor__card-item__info {
  margin-top: 32px;
  font-size: 14px;
  line-height: 2;
  color: #545454;
  max-width: 274px;
  font-weight: 400;
}
.mentor__card-item__more {
  margin-top: 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #150099;
}
.mentor .slick-track {
  display: flex;
  gap: 0 15px;
  padding-bottom: 20px;
}
.mentor .slick-slide {
  flex: 50%;
}
.mentor .slick-dots {
  position: absolute;
  bottom: -100px;
  display: flex;
  gap: 0 10px;
}

@media screen and (max-width: 767.98px) {
  .mentor .section__heading {
    text-align: center;
  }
  .mentor__content {
    text-align: center;
    margin: 0 auto;
  }
  .mentor-container {
    flex-direction: column;
  }
  .mentor__card-list {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .mentor__desc {
    max-width: 550px;
    font-size: 14px;
  }
  .mentor__card-item__name {
    font-size: 20px;
  }
}
.platform {
  text-align: center;
  background-color: #EEFEFF;
  padding-top: 87px;
  padding-bottom: 109px;
}
.platform__desc {
  max-width: 900px;
  font-size: 18px;
  line-height: 1.5555555556;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 18px;
}
.platform__list {
  margin-top: 40px;
  display: flex;
  gap: 0 132px;
}
.platform__item {
  text-align: center;
}
.platform__item img {
  margin: 0 auto;
}
.platform__item-heading {
  margin-top: 13px;
  margin-bottom: 18px;
  color: #150099;
  font-size: 0.8571428571;
  font-family: "Crimson Pro", serif;
}
.platform__item-text {
  color: #545454;
  font-size: 14px;
}

@media screen and (max-width: 767.98px) {
  .platform__list {
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .platform {
    /* &__list{
        gap: 0 80px;
    } */
  }
  .platform__item-heading {
    font-size: 16px;
  }
}
.partner {
  padding-top: 89px;
  padding-bottom: 95px;
}
.partner__list {
  margin-top: 37px;
  display: flex;
  justify-content: center;
  gap: 0 47px;
  flex-wrap: wrap;
}

.cta {
  padding-top: 87px;
  padding-bottom: 113px;
  background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
}
.cta-container {
  text-align: center;
}
.cta__heading {
  font-size: 44px;
  line-height: 1.2727272727;
  color: #fff;
  font-family: "Crimson Pro", serif;
}
.cta__text {
  font-size: 19px;
  opacity: 0.8;
  line-height: 1.5789473684;
  margin: 18px 0 9px 0;
}
.cta__btn {
  border-radius: 8px;
  color: #150099;
  font-size: 12px;
  line-height: 1.25;
  padding: 13px 58px;
  position: relative;
  margin-top: 21px;
}
.cta__btn span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20%;
}
.cta__text {
  max-width: 1062.4px;
  margin: 0 auto;
  color: #fff;
  opacity: 0.8;
}

.footer {
  padding-top: 44px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 80px;
}
.footer__logo p {
  margin-top: 27px;
  font-size: 12px;
  line-height: 1.8333333333;
  color: #545454;
}
.footer__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__links h3 {
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #150099;
}
.footer__links li {
  font-size: 14px;
  line-height: 1.5714285714;
  display: flex;
  align-items: center;
  gap: 7px;
}
.footer__link-wrap {
  display: flex;
  gap: 0 45px;
}
.footer .copywrite {
  background: #747D88;
  display: flex;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 29px;
  padding-bottom: 29px;
  justify-content: space-between;
}
.footer .copywrite div {
  display: flex;
  gap: 38px;
}
.footer .copywrite p {
  font-size: 14px;
  line-height: 1.5714285714;
  /* identical to box height, or 157% */
  color: #CBCFD4;
}

@media screen and (max-width: 767.98px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }
  .footer__link-wrap {
    padding-left: 0;
    flex-direction: column;
  }
  .footer__links {
    padding-left: 0;
  }
}

/*# sourceMappingURL=app.css.map */
